<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/6f845559d3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/syles.css">
</head>

<header>
    <div class="headerdiv">
        <img class="mylogo " src="/images/logo.png" alt="no logo" width="60px" height="60px">
        <h1>We all have Secrets</h1>
    </div>
</header>

<body>

    <div class="row" style="margin-top: 40px;">
        <div class="col-6">
            <div class="row">
                <div class="col-3">

                    <a href="/register" class="btn btn-secondary" role="button">Register</a>

                </div>
                <div class="col-3">

                    <a href="/login" class="btn btn-secondary" role="button">Login</a>

                </div>
            </div>

        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header" style="text-align: center;background-color: rgb(19, 17, 17);color: white;">
                    Sign Up
                </div>
                <div class="card-body">
                    <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button"
                        style="font-family: Caveat,cursive;">
                        <span class="fab fa-google-plus-g "></span> Sign In with Google</a>
                </div>
            </div>
        </div>
    </div>

</body>
<footer>
    <p class="text-muted" style="text-align: center;margin-top: 10px;">Copyright&copy;2021</p>
</footer>

</html>