<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/syles.css">
</head>
<header>
    <div class="headerdiv">
        <img class="mylogo " src="/images/logo.png" alt="no logo" width="60px" height="60px">
        <h1>We all have Secrets</h1>
    </div>
</header>

<body>
    <div class="mylogin">
        <form action="/login" method="post">
            <input class="form-control" type="email" placeholder="email" name="email">
            <input class="form-control" type="password" placeholder="password" name="password">
            <button class="btn" style="background-color: rgb(13, 110, 78);">Login</button>
        </form>
    </div>
</body>
<footer>
    <p class="text-muted" style="text-align: center;margin-top: 10px;">Copyright&copy;2021</p>
</footer>

</html>