<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/syles.css">
</head>

<header>
    <div class="headerdiv">
        <img class="mylogo " src="/images/logo.png" alt="no logo" width="60px" height="60px">
        <h1>We all have Secrets</h1>
    </div>
    <div class="headerbtn">

        <a class="btn btn-secondary" href="/logout">Logout</a>
    </div>
</header>

<body>
    <% foundedUsers.forEach((user)=>{ %>
        <div class="successdiv">
            <h5 style="padding: 10px;">
                <%= user.username%>
            </h5>
            <p style="padding: 10px;">
                <%= user.secret %>
            </p>
        </div>
        <% }); %>

</body>

<footer>
    <p class="text-muted" style="text-align: center;margin-top: 10px;">Copyright&copy;2021</p>
</footer>

</html>